# Archivos de CMake
CMakeFiles/
cmake_install.cmake
CMakeCache.txt
#Carpetas adicionales de compilacion
debug/
release/
#Archivos IDE
.idea/
.vscode/
#Archivos de dependencias de Qt
*.qrc.depends
# Qt / C++ build files
*.o
*.obj
*.exe
*.user
*.user.*
*.pro.user
build-*/
Makefile
Makefile*
build/
*.autosave
# Archivo de registro 
CMakeConfigureLog.yaml

# Qt Creator config
*.qmake.stash
*.directory
*.so
*.dll
*.a
*.moc
*.lib
*.config
*.creator.*
*.creator
*.bak
*~
*.swp
*.log
*.tmp
out/
